:root {
    --padding: 20px;
    --text-color: rgb(198, 235, 240);
    --border-radius: 5px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(186, 226, 231, 0.384);   
    width: 100vw;
}

header{
    background-color:slateblue;
    color: var(--text-color);
    text-shadow:3px 3px black;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

main{
    min-height: 80vh;
    padding: var(--padding);
    max-width: 800px;
    margin: 0 auto;
}

.a{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

main form{
    display: flex;
    justify-content: center;
}

form input[type="text"]{
    flex-grow: 1;
}
form input[type="text"], button[type="submit"], .result div a{
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: var(--border-radius);
    padding: calc(var(--padding)/2);
}

form button[type="submit"]{
    background-color: slateblue;
    color: var(--text-color);
    margin-left: 10px;
    cursor: pointer;
}

footer{
    background-color: slateblue;
    color: var(--text-color);
    padding: var(--padding);
    text-align: center;
    font-size: 21px;
    position: fixed;
    width: 100%;
}

.result {
    background-color: rgba(148, 135, 228, 0.226);
    padding: var(--padding);
    border-radius: var(--border-radius);
    margin-top: 21px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.result p{
    margin-top: 10px;
}

.part{
    font-style: italic;
    margin-top: 3px;
}

.result div {
    margin-top: 21px;
}
.result div a{
    text-decoration: none;
    background-color: slateblue;
    color: var(--text-color);
}

.result li {
    padding: cal(var(--padding/6));
    margin-left: 3px;
}

@media screen and (max-width:320px) {
    main form {
        flex-direction: column;
    }

    form button {
        margin-left: 0px;
        margin-top: 10px;
    }
    
}